.acf-fields {
  > .acf-field {
    &.label-hidden {
      > .acf-label {
        @apply hidden;
      }
    }
    &.hide-group-label {
      @apply pt-0;
      > .acf-label {
        @apply hidden;
      }
    }
  }
  .acf-color-picker {
    .wp-picker-container {
      &.wp-picker-active {
        @apply z-20;
        .wp-picker-input-wrap {
          @apply flex absolute border border-solid border-[#dcdcde] p-[10px] bg-white w-[235px] mt-1;
        }
      }
      input[type='text'].wp-color-picker {
        @apply !w-24;
      }
      .wp-picker-holder {
        @apply absolute z-10 top-[87px];
      }
      .wp-color-result.button {
        @apply !mb-0.5;
      }
    }
    .wp-picker-container .iris-picker {
      padding-bottom: 80px !important;
      @apply mt-0;
    }
    .iris-border .iris-palette-container {
      position: absolute;
      bottom: 10px !important;
      left: 10px !important;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
    }
    .iris-picker .iris-palette {
      width: 24px !important;
      height: 24px !important;
      margin-left: 0px !important;
      float: none;
    }
  }
  .acf-field {
    &.acf-accordion {
      .acf-input.acf-accordion-content > .acf-fields {
        @apply bg-slate-100 border-t border-[#cccccc];
      }
      .acf-accordion-title:hover {
        @apply bg-[#f9f9f9];
      }
      .acf-fields > {
        .acf-field {
          @apply border-t border-slate-200;
          &:first-child {
            @apply border-0;
          }
        }
      }
    }
    .acfe-modal.-open.-medium > .acfe-modal-wrapper {
      @apply max-w-[864px];
    }
  }
}

.frm_insert_form svg {
  @apply inline-block;
}
