.site-header,
#top-nav .top-nav--container,
#top-nav .top-nav--ul,
#top-nav .svg-icon,
#main-nav,
#main-nav .main-nav--div,
#main-nav .main-nav--ul > li > a,
#main-nav #logo img {
  @apply transition-all duration-500;
}

.site-header {
  @apply bg-transparent;
  &.header-shrink {
    @apply bg-brand-bluedark bg-opacity-95;
    #top-nav {
      .top-nav--container {
        @apply py-1;
      }
      .top-nav--ul {
        @apply gap-x-2;
      }
      .svg-icon {
        @apply h-[18px] w-[18px];
      }
    }
    #main-nav {
      @apply py-0;
      #logo {
        @apply py-2;
        img {
          @apply h-16;
        }
      }
      .main-nav--div {
        @apply shadow-none;
      }
      .main-nav--ul {
        > li > a {
          @apply py-5 leading-[36px];
        }
      }
    }
  }
}

.menu-has-article {
  @apply block py-1.5 relative;
  > .svg-icon {
    @apply invisible opacity-0 transition duration-300;
  }
  &:hover {
    @apply text-brand-red font-semibold;
    > .svg-icon {
      @apply visible opacity-100;
    }
  }
}
.menu-article {
  @apply hidden;
}

/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-nav--ul {
  > li {
    @apply border-t-[6px] border-transparent hover:border-brand-red transition duration-300;
  }
}
.mega-menu {
  @apply absolute left-0 w-full invisible opacity-0 transition-all duration-500 text-white;
}

/* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hoverable {
  @apply static transition-all duration-500;
  &:hover {
    @apply bg-black bg-opacity-95;
    .mega-menu {
      @apply visible opacity-100;
    }
  }
}

/* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.toggleable > label:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}
.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}
.toggle-input:checked ~ .mega-menu {
  display: block;
}
.toggle-input:checked + label {
  color: white;
  background: #2c5282; /*@apply bg-blue-800 */
}
.toggle-input:checked ~ label:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

#header-search {
  @apply w-0 hidden;
  &.show {
    @apply block w-screen max-w-md md:w-[280px];
  }
}
