.acf-fields > .acf-field.label-hidden > .acf-label {
  display: none;
}

.acf-fields > .acf-field.hide-group-label {
  padding-top: 0px;
}

.acf-fields > .acf-field.hide-group-label > .acf-label {
  display: none;
}

.acf-fields .acf-color-picker .wp-picker-container.wp-picker-active {
  z-index: 20;
}

.acf-fields .acf-color-picker .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
  position: absolute;
  margin-top: 0.25rem;
  display: flex;
  width: 235px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(220 220 222 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 10px;
}

.acf-fields .acf-color-picker .wp-picker-container input[type='text'].wp-color-picker {
  width: 6rem !important;
}

.acf-fields .acf-color-picker .wp-picker-container .wp-picker-holder {
  position: absolute;
  top: 87px;
  z-index: 10;
}

.acf-fields .acf-color-picker .wp-picker-container .wp-color-result.button {
  margin-bottom: 0.125rem !important;
}

.acf-fields .acf-color-picker .wp-picker-container .iris-picker {
  padding-bottom: 80px !important;
  margin-top: 0px;
}

.acf-fields .acf-color-picker .iris-border .iris-palette-container {
  position: absolute;
  bottom: 10px !important;
  left: 10px !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.acf-fields .acf-color-picker .iris-picker .iris-palette {
  width: 24px !important;
  height: 24px !important;
  margin-left: 0px !important;
  float: none;
}

.acf-fields .acf-field.acf-accordion .acf-input.acf-accordion-content > .acf-fields {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.acf-fields .acf-field.acf-accordion .acf-accordion-title:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.acf-fields .acf-field.acf-accordion .acf-fields > .acf-field {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.acf-fields .acf-field.acf-accordion .acf-fields > .acf-field:first-child {
  border-width: 0px;
}

.acf-fields .acf-field .acfe-modal.-open.-medium > .acfe-modal-wrapper {
  max-width: 864px;
}

.frm_insert_form svg {
  display: inline-block;
}
